<h1><center>Module 6 Challenge</center></h1>

<h2><center>Part 2: Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation</center></h2>

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv('challenge_data/WeatherPy_database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,busselton,AU,-33.65,115.33,53.01,84,80,7.92,broken clouds,0.0,0
1,1,chuy,UY,-33.70,-53.46,42.94,76,33,11.59,scattered clouds,0.0,0
2,2,zhezkazgan,KZ,47.80,67.71,78.80,31,75,17.90,broken clouds,0.0,0
3,3,severo-kurilsk,RU,50.68,156.12,51.71,89,100,17.38,overcast clouds,0.0,0
4,4,nanortalik,GL,60.14,-45.24,47.48,92,99,4.88,overcast clouds,0.0,0

In [9]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain (inches)          float64
Snow (inches)            int64
dtype: object

In [10]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?60
What is the maximum temperature you would like for your trip?200

In [14]:
# Ask the customer if they would like it to be raining.
rain_amount = input('Do you want it to be raining? (yes/no)')

Do you want it to be raining? (yes/no)no

In [15]:
# Ask the customer if they would like it to be snowing.
snow_amount = input('Do you want it to be snowing? (yes/no)')

Do you want it to be snowing? (yes/no)no

In [17]:
if rain_amount == 'no' and snow_amount == 'no':
    filtered_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                          (city_data_df['Max Temp'] >= min_temp) &
                                          (city_data_df['Rain (inches)'] == 0) &
                                          (city_data_df['Snow (inches)'] == 0)]
    
elif rain_amount == 'no' and snow_amount == 'yes':
    filtered_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                          (city_data_df['Max Temp'] >= min_temp) &
                                          (city_data_df['Rain (inches)'] == 0) &
                                          (city_data_df['Snow (inches)'] >= 0.0)]
elif rain_amount == 'yes' and snow_amount == 'no':
    filtered_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                          (city_data_df['Max Temp'] >= min_temp) &
                                          (city_data_df['Rain (inches)'] > 0.0) &
                                          (city_data_df['Snow (inches)'] == 0)]
else:
    filtered_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                          (city_data_df['Max Temp'] >= min_temp) &
                                          (city_data_df['Rain (inches)'] > 0.0) &
                                          (city_data_df['Snow (inches)'] > 0)]

In [20]:
filtered_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
2,2,zhezkazgan,KZ,47.80,67.71,78.80,31,75,17.90,broken clouds,0.0,0
6,6,rzhaksa,RU,52.13,42.03,79.50,40,0,5.59,clear sky,0.0,0
9,9,castro,BR,-24.79,-50.01,66.33,69,0,10.18,clear sky,0.0,0
11,11,vaini,TO,-21.20,-175.20,69.80,77,20,10.29,few clouds,0.0,0
12,12,hami,CN,42.80,93.45,89.51,22,74,18.66,broken clouds,0.0,0

In [21]:
filtered_cities_df.count()

City_ID                370
City                   370
Country                365
Lat                    370
Lng                    370
Max Temp               370
Humidity               370
Cloudiness             370
Wind Speed             370
Current Description    370
Rain (inches)          370
Snow (inches)          370
dtype: int64

In [22]:
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
2,2,zhezkazgan,KZ,47.80,67.71,78.80,31,75,17.90,broken clouds,0.0,0
6,6,rzhaksa,RU,52.13,42.03,79.50,40,0,5.59,clear sky,0.0,0
9,9,castro,BR,-24.79,-50.01,66.33,69,0,10.18,clear sky,0.0,0
11,11,vaini,TO,-21.20,-175.20,69.80,77,20,10.29,few clouds,0.0,0
12,12,hami,CN,42.80,93.45,89.51,22,74,18.66,broken clouds,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
559,559,tahta,EG,26.77,31.50,100.40,16,4,12.75,clear sky,0.0,0
560,560,oksfjord,NO,70.24,22.35,75.20,64,75,4.70,broken clouds,0.0,0
561,561,saurimo,AO,-9.66,20.39,90.41,13,0,4.07,clear sky,0.0,0
562,562,riviere-au-renard,CA,49.00,-64.40,66.20,82,90,6.93,overcast clouds,0.0,0
563,563,gari,RU,59.43,62.35,66.87,46,97,7.61,overcast clouds,0.0,0

In [23]:
filtered_cities_df.count()

City_ID                365
City                   365
Country                365
Lat                    365
Lng                    365
Max Temp               365
Humidity               365
Cloudiness             365
Wind Speed             365
Current Description    365
Rain (inches)          365
Snow (inches)          365
dtype: int64

In [37]:
hotel_df = filtered_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng', 'Current Description']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head()

          City Country  Max Temp    Lat     Lng Current Description Hotel Name
2   zhezkazgan      KZ     78.80  47.80   67.71       broken clouds
6      rzhaksa      RU     79.50  52.13   42.03           clear sky
9       castro      BR     66.33 -24.79  -50.01           clear sky
11       vaini      TO     69.80 -21.20 -175.20          few clouds
12        hami      CN     89.51  42.80   93.45       broken clouds

In [38]:
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

# Iterate through.
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f'{lat},{lng}'
    
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except IndexError:
        print('Hotel not found... skipping...')

Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...

In [39]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
2,zhezkazgan,KZ,78.80,47.80,67.71,broken clouds,Kvartiry Posutochno.
6,rzhaksa,RU,79.50,52.13,42.03,clear sky,Gostinitsa Uyut
9,castro,BR,66.33,-24.79,-50.01,clear sky,CHACARA BAILLY
11,vaini,TO,69.80,-21.20,-175.20,few clouds,Keleti Beach Resort
12,hami,CN,89.51,42.80,93.45,broken clouds,Laoyutang Resort

In [40]:
output_data_file = './challenge_data/WeatherPy_Vacation.csv'
hotel_df.to_csv(output_data_file, index_label='City_ID')

In [41]:
vacation_df = pd.read_csv('./challenge_data/WeatherPy_Vacation.csv')
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,2,zhezkazgan,KZ,78.80,47.80,67.71,broken clouds,Kvartiry Posutochno.
1,6,rzhaksa,RU,79.50,52.13,42.03,clear sky,Gostinitsa Uyut
2,9,castro,BR,66.33,-24.79,-50.01,clear sky,CHACARA BAILLY
3,11,vaini,TO,69.80,-21.20,-175.20,few clouds,Keleti Beach Resort
4,12,hami,CN,89.51,42.80,93.45,broken clouds,Laoyutang Resort

In [42]:
# Using the template add the hotel marks to the heatmap
info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
'''
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[['Lat', 'Lng']]

In [44]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))